<div id="friend-lookup">
  <div class="field">
    <div class="control has-icons-right">
      <%= form_tag(search_friends_path, :method => "get", id: 'friend-lookup-form') do %>
        <div class="input-group">
          <%= search_field_tag :search, params[:search], placeholder: "Search", class: "input" %>
          <span class="icon is-small is-right">
            <i class="fas fa-search"></i>
          </span>
          <%= hidden_field_tag(type: :submit, class: "button") do %>
          <% end %>
          </div>
        </div>
      <% end %>
    </div>

  </div>

  <%= render 'common/spinner' %>
  <% if @users %>
      <% if @users.size > 0 %>
        <div id="friend-lookup-results">
          <table class="table is-hoverable is-fullwidth">
            <tbody class="box">
              <% @users.each do |user| %>
              <tr>
                <td>
                  <a> <%= image_tag user_avatar(user, 30), class: "avatar-image"%>
                  </a>
                </td>
                <td><%= link_to user.name, user_path(user), class: "username" %></td>
                <td><strong>Instrument:</strong></td>

              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% else %>
        <p class="lead col-md-12">
          No people match this search criteria
        </p>
      <% end %>
  <% end %>
