<section class="hero is-dark ">
  <div class="hero-body">
    <div class="columns is-centered">
      <div class="column is-6">
        <div class="media">
          <div class="media-left">
            <%= image_tag user_avatar(@user, 170), class: "avatar-image"%>
          </div>
          <div class="media-content">
            <div class="columns">
              <div class="column is-6">
                <h1 class="title has-text-centered">
                  <%= @user.name%>
                  <% if current_user === @user%>
                  <% else %>
                    <% if current_user.following?(@user)%>
                      <%= link_to "Unfollow", unfollow_user_path, class: "button follow-button"%>

                    <% else %>
                      <%= link_to "Follow", follow_user_path, class: "button is-primary follow-button"%>
                    <% end %>


                  <% end %>
                </h1>
                <div class="level">
                  <div class="level-item has-text-centered">
                    <div>
                      <p class="heading">Following </p>
                      <p class="title"><%= @user.follow_count%></p>
                    </div>
                  </div>
                  <div class="level-item has-text-centered">
                    <div>
                      <p class="heading">Followers</p>
                      <p class="title"><%=@user.followers_count%></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-foot">
    <nav class="tabs is-medium is-boxed is-centered" id="tabs">
      <ul>
        <li class="is-active" data-tab="1">
          <a>
            <span class="icon is-small"><i class="fa fa-image"></i></span>
            <span>Pictures</span>
          </a>
        </li>
        <li data-tab="2">
          <a>
            <span class="icon is-small"><i class="fa fa-music"></i></span>
            <span>Music</span>
          </a>
        </li>
        <li data-tab="3">
          <a>
            <span>Following <span class="is-italic"><%= @user.follow_count%></span></span>
          </a>
        </li>
        <li data-tab="4">
          <a>
            <span>Followers <span class="is-italic"><%=@user.followers_count%></span></span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</section>
<div id="tab-content">
  <p class="is-active" data-content="1">
    Lo que se me ocurra
  </p>
  <p data-content="2">
    Music
  </p>
  <p data-content="3">
      <% @user.all_following.each do |f|%>
        <%= link_to f.name, f%>

      <% end %>

  </p>
  <p data-content="4">
      <% @user.followers.each do |f|%>
        <%= link_to f.name, f%>

      <% end %>

  </p>
</div>
