<div class="projects-wrapper">
  <%= link_to project, class: "card" do %>
    <header class="card-header cabecera-card">
      <div class="level">
        <div class="level-left">
          <p class="card-header-title title is-5"><%= project.name %></p>
        </div>
        <div class="level-right">
          <span class="overdue"> <%= "Overdue" if project.overdue? && !project.complete?%></span>
        </div>
      </div>
    </header>
    <div class="card-content">
      <div class="content">
        <%= truncate(project.description.html_safe,escape: false, length: 450) %>
      </div>
    </div>
    <small>Created by: <%= project.owner.name %></small>
    <br>
    <small> Collaborators: <% project.collaborators.each do |person| %> <%= person.name %>/ <%end%> </small>
    <br>
    <small>Due: <%= project.due_date %> </small>
    <div class="card-time">
      <%= time_ago_in_words(project.created_at) %>
    </div>

  <% end %>

</div>
