<section class="section">
	<div class="container">
		<div class="columns is-centered">
			<div class="column is-9">
				<h1 class="title is-2"><%= @project.name %></h1>
				<div class="level">
					<div class="level-right">
						<div class="buttons">
							<%= link_to 'Edit Project', edit_project_path(@project), class:'button' %>
							<%= link_to 'Delete Project', @project, method: :delete, data: { confirm: 'Are you sure'}, class:'button is-danger is-outlined' %>
						</div>
					</div>
				</div>
				<hr />
				<div class="content">
					<%= @project.description.html_safe %>
				</div>
			</div>
			<div class="col-sm-4">
       <div class="default-block">
         <h3> Project Details </h3>
         <div class="line-dark"></div>
          <span class="overdue"> <%= "Overdue" if @project.overdue? && !@project.complete? %></span>
          <p> <%= @project.description %> </p>
          <p> Created: <%= @project.created_at %> </p>
          <p> Due: <%= @project.due_date %> </p>
          <p> Status: <%= @project.status %> </p>
          <div class="line-light"></div>
       </div>
      </div>

      <div class="col-sm-4">
       <div class="default-block">
        <h3> People </h3>
        <div class="line-dark"></div>
         <p> <%= @project.owner.email %> (Owner) </p>
         <% @user_projects.each do |up| %>
          <div class="row">
           <div class="col-xs-12">
            <div class="inline"> <p> <%= up.collaborator.email  %> (<%= up.permission  %>)</p> </div>
            <div class="inline"> <%= render partial: "delete_collaborator_form", locals: {person: up.collaborator} %> </div>
           </div>
          </div>
         <% end %>
        <%= render partial: "add_collaborator_form", locals: {project: @project} %>
      <div class="line-light"></div>
    </div>
  </div>
		</div>
	</div>
</section>
