<section class="section">
	<div class="container">
		<div class="columns is-centered">
			<div class="column is-9">
				<h1 class="title is-2"><%= @project.name %></h1>
				<div class="level">
					<div class="level-left">
						<p>Created on
							<%= verbose_date(@project.created_at) %> by <%= @project.owner.name %> / Modified
							<%= time_ago_in_words(@project.updated_at) %>
						</p>
					</div>
					<% if @project.owner_id == current_user.id || current_user.is_admin?%>
					<div class="level-right">
						<div class="buttons">
							<%= link_to 'Edit Project', edit_project_path(@project), class:'button' %>
							<%= link_to 'Delete Project', @project, method: :delete,
							 data: { confirm: 'Are you sure'}, class:'button is-danger is-outlined' %>
						</div>
					</div>
					<% end %>
				</div>
				<p> Due: <%= @project.due_date %> </p>
				<span class="overdue"> <%= "Overdue" if @project.overdue? %></span>
				<hr />
				<div class="content">
					<%= @project.description.html_safe %>
				</div>
			</div>

      <div class="column is-4 is-offset-1">
       <table class="table is-hoverable is-fullwidth">
				 <thead>
				 	<tr>
				 		<th>People</th>
						<th>Role</th>
						<% if @project.owner_id == current_user.id%>
						<th>Action</th>
						<% end %>
				 	</tr>
				 </thead>
				 <tbody>
				 	<tr>
				 		<td><%= @project.owner.name %></td>
						<td>Owner</td>
				 	</tr>
					<% @user_projects.each do |up| %>
					<tr>
              <td><%= up.collaborator.name  %></td>
              <td><%= up.permission  %></td>
							<% if @project.owner_id == current_user.id%>
	            <td><div class="inline"> <%= render partial: "delete_collaborator_form", locals: {person: up.collaborator} %> </div></td>
							<% end %>
					</tr>
				  <% end %>
				 </tbody>
      </table>
			<%= render partial: "add_collaborator_form", locals: {project: @project} %>
     </div>
		</div>
		<section class="comments column is-8 is-centered">
			<h2 class="subtitle is-5"><%= pluralize(@project.project_comments.count, 'Comment') %></h2>
				<%= render @project.project_comments %>
			<hr />
			<% if user_signed_in? %>
				<div class="comment-form">
					<h3 class="subtitle is-3">Leave a reply</h3>
					<%= render 'project_comments/form' %>
				</div>
			<% else %>
				<div class="content"><%= link_to 'Sign in', new_user_session_path %> to leave a comment.</div>
			<% end %>
		</section>
	</div>
</section>
