<div class="">
  <div class="">
    <h4><%= t('.sign_up', :default => "Sign up") %></h4>
  </div>
  <div class="">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { role: "form", class: 'cc_form' }) do |f| %>
      <div class="">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: "" %>
      </div>
      <div class="">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true, class: "" %>
      </div>
      <div class="">
        <%= f.label :password %><br />
        <%= f.password_field :password, class: "" %>
      </div>
      <div class="">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: "" %>
      </div>
      <%= fields_for( :tenant ) do |w| %>
        <div class="">
          <%= w.label :name, 'Organization' %>
          <span class='description'>(Unique name for your group or organization for the new account)</span>
          <%= w.text_field :name, required: true, class: "" %>
        </div>
      <% end %>
      <%= f.submit t('.sign_up', :default => "Sign up"), class: "" %>
    <% end %>
  </div>
</div>
<%= render "devise/shared/links" %>
